<header class="container-fluid bg-info" ng-controller="headerController">
    <div class="row">
        <div class="col-md-3 col-sm-4 pull-left">
            <h3 class="text-center" ng-bind="heading"></h3>
        </div>
        <div class="col-md-6 col-sm-7">
            <nav class="nav nav-pills">
                <a class="nav-link text-dark" ui-sref=".products">HOME</a>
                <a class="nav-link text-dark" ui-sref=".inventory">INVENTORY</a>
                <a class="nav-link text-dark" ui-sref=".productView">PRODUCT VIEW</a>
            </nav>
        </div>
    </div>
</header>